[submodule "Ska-Studios-Xplatform"]
	path = Ska-Studios-Xplatform
	url = https://github.com/mspcontent/Ska-Studios-Xplatform
[submodule "Sphero-Win-SDK"]
	path = Sphero-Win-SDK
	url = https://github.com/mspcontent/Sphero-Win-SDK
[submodule "MSPContent/Windows-8.1-Data-Binding-App-Demo"]
	path = MSPContent/Windows-8.1-Data-Binding-App-Demo
	url = https://github.com/michstmatt/Windows-8.1-Data-Binding-App-Demo
